
h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(10, 136, 94, 0.721);  
}
p{
    font-size: 1rem;
}
.nav-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  rgba(38, 189, 139, 0.721); 
    color: white; 
    border: 2px solid #198754;   
  }
 .nav-link:hover {
    background-color: #198754; 
    color: #f8f9fa; 
  }
  
#comprar{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    
}
.carousel-banner{
    aspect-ratio: 4/1;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cr-slide-1{
    background-image: url(../img/banner/banner1.jpg);
}
.cr-slide-2{
    background-image: url(../img/banner/banner2.jpg);
}
.cr-slide-3{
    background-image: url(../img/banner/banner3.jpg);
}
.cr-slide-4{
    background-image: url(../img/banner/banner4.jpg);
}


.productos{    
    border-radius: 1rem; 
    overflow: hidden;  
    
}
.btn-buttons {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(26, 159, 114, 0.877);
    color: white;
    border: solid 1px rgba(34, 244, 174, 0.877);

}

.btn-buttons:hover{
    background-color: rgba(159, 235, 210, 0.877);
    color: rgb(51, 107, 88);
    border: solid 1px rgba(18, 65, 49, 0.877);


}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.product-section {
    padding: 20px;
  }
.encabezado{
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px 0;
    border: 1px solid #ddd;
  }
.product-title {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.main-image {
    width: 75%;
    border: 4px solid #28a745;
    border-radius: 50%;
}
.thumbnail-container {
    display: flex;
    gap: 10px;
  }
.thumbnail {
    width: 25%;
    border: 2px solid #ddd;
    border-radius: 50%;
  }   

.details {
    flex-grow: 1;
}

.details-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.features-list {
    list-style: none;
    padding-left: 1.5rem;
}
.features-list li {
    margin-bottom: 1rem;
  }
.price-container {
    text-align: center;
    margin-top: 1.5rem;
  }
  .old-price {
    text-decoration: line-through;
    color: #dc3545;
    font-size: 1.2rem;
  }
  .current-price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #28a745;
  }
  .discount {
    font-size: 1rem;
    color: #6c757d;
  } 
  .installments {
    font-size: 0.9rem;
    color: #6c757d;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttons .btn {
    
    display: block;
    padding: 0.5 1rem;
    text-align: center;
    color: rgb(13, 61, 45);
    text-decoration: none;
    border-radius: 1rem;
  }
  .buy-button {
    background-color: #28a745;
  }
  .back-button {
    background-color: #48c576c7;
  }
li{
    list-style: none;
}
section ul li::before {
    content: "✔ "; 
    color: greenS; 
    font-weight: bold;
}
section button:hover {
    background-color: #0a2d18;
}
.card-link{
    color: rgb(15, 194, 69);
    text-decoration: none;

}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(10, 136, 94, 0.721);  
}
.autor-imagen {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
 

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
.content {
    flex-direction: row;
    gap: 30px;
      }  
      .image-container {
        flex: 1;
      }
footer {
    text-align: left;
  }
.details {
    flex: 1;
  }

.buttons {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

.autor-info {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }
  .autor-imagen {
    float: left;
    margin-right: 20px;
  }


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 .productos{
    overflow: hidden;
 }
 .carousel-banner{
    justify-content:flex-end ;
    align-items: start;
    padding: 30px;
    }
    .carousel-banner>button{
    margin-left: 10rem;
}   
.main-image {
    width: 50%;
  }
.thumbnail {
    width: 20%;
  }
 .image-container{
    order:1;
 } 
 .price-container{
    order: 2;
    width: 50%;
 }
 .details{
    order: 3;
    width: 50%;
 }

}

  
  
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }